*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a{
text-decoration:none;
color:black;
}
button{
  padding:10px;
  border-radius:5px;
  border:none;
  cursor: pointer;
  
}
.gradient{
  background: hsla(145, 83%, 74%, 1);
  background: linear-gradient(90deg, hsla(145, 83%, 74%, 1) 0%, hsla(204, 77%, 76%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(145, 83%, 74%, 1) 0%, hsla(204, 77%, 76%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(145, 83%, 74%, 1) 0%, hsla(204, 77%, 76%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#87F4B5", endColorstr="#93CBF1", GradientType=1 );
}
.grey_bg{
background:rgb(223, 223, 223)
}

.small_btn{
  padding:5px 10px ;
  border-radius: 15px;
  letter-spacing: 1px;
  align-self: flex-start;
  cursor: pointer;
}

.flex{
  display: flex;
  gap:10px;
}